body {
  background: url("../images/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  font-family: verdana, sans-serif;
}
.main {
	margin: auto;
	margin-top: 3%;
	width: 70%;
	height: 97%;
	overflow: hidden;
}
.cell {
	text-align: center;
  text-decoration: none;
	float: left;
	background-repeat: no-repeat;
	background-position: center center;
	width: 14.2%;
	height: 18%;
	transform: scale(1);
	transition-property: transform;
	transition-duration: 0.5s;
}
.cell:hover {
  transform: scale(1.15);
	transition-property: transform;
	transition-duration: 0.5s;
}
.overlay {
	opacity: 0;
  min-width: 80%;
  margin-top: 10px;
  display: inline-block;
  white-space: nowrap;
	background-color: rgba(255, 255, 255, 0.2);
	font-size: 12px;
	padding: 5px;
	color: #fff;
	border-radius: 2px;
  transition-property: opacity;
	transition-duration: .7s;
}
.subMenu{
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: block;
  position: absolute;
  bottom: 90%;
  right: 20%;
	background-color: rgba(44, 49, 117, 0.9);
	border-radius: 2px;
  opacity: 0;
  transition: all .3s;
  transform: scaleY(0);
  transform-origin: bottom;
  transition-property: all;
	transition-duration: .7s;
  transition-delay: .5s;
}
.link {
  overflow: hidden;
  position:relative;
  text-align: right;
  display: block;
  /* float: right; */
  white-space: nowrap;
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	padding: 3px;
  margin: 0;
	border-radius: 2px;
  clear: both;
}
.link:hover {
  color: #fff;
  background-color: #356DC6;
}
.cell:hover .overlay {
	opacity: 0.9;
	transition-duration: 0.7s;
}
.cell:hover .subMenu {
	opacity: 1;
  padding: 5px;
  transform: scaleY(1);

	transition-duration: 0.3s;
}
.cell:hover .link {
	/* width: 100%; */
}
.delay2 {transition-delay: 2s}
.delay1 {transition-delay: 1s}
.delay1_5 {transition-delay: 1.5s}
.delay03 {transition-delay: 0.3s}
.sm {background-size: 40%;}
.md {background-size: 50%;}
.bg {background-size: 70%;}

@media (max-width: 2000px) {
	.main {width: 55%;}
}
@media (max-width: 1550px) {
	.main {width: 60%;}
}
@media (max-width: 1400px) {
	.main {width: 70%;}
}
@media (max-width: 1300px) {
	.main {width: 85%;}
}
@media screen and (orientation: portrait){
  .main {width: 100%; overflow: auto;}
  .cell {width: 20%; height: 13%}
}

::-webkit-scrollbar {
  width: 0;
}

#cell-01 {background-image: url(../images/Tiles/01.png)}
#cell-02 {background-image: url(../images/Tiles/02.png)}
#cell-03 {background-image: url(../images/Tiles/03.png)}
#cell-04 {background-image: url(../images/Tiles/04.png)}
#cell-05 {background-image: url(../images/Tiles/05.png)}
#cell-06 {background-image: url(../images/Tiles/06.png)}
#cell-07 {background-image: url(../images/Tiles/07.png)}
#cell-08 {background-image: url(../images/Tiles/08.png)}
#cell-09 {background-image: url(../images/Tiles/09.png)}
#cell-10 {background-image: url(../images/Tiles/10.png)}
#cell-11 {background-image: url(../images/Tiles/11.png)}
#cell-12 {background-image: url(../images/Tiles/12.png)}
#cell-13 {background-image: url(../images/Tiles/13.png)}
#cell-14 {background-image: url(../images/Tiles/14.png)}
#cell-15 {background-image: url(../images/Tiles/15.png)}
#cell-16 {background-image: url(../images/Tiles/16.png)}
#cell-17 {background-image: url(../images/Tiles/17.png)}
#cell-18 {background-image: url(../images/Tiles/18.png)}
#cell-19 {background-image: url(../images/Tiles/19.png)}
#cell-20 {background-image: url(../images/Tiles/20.png)}
#cell-21 {background-image: url(../images/Tiles/21.png)}
#cell-22 {background-image: url(../images/Tiles/22.png)}
#cell-23 {background-image: url(../images/Tiles/23.png)}
#cell-24 {background-image: url(../images/Tiles/24.png)}
#cell-25 {background-image: url(../images/Tiles/25.png)}
#cell-26 {background-image: url(../images/Tiles/26.png)}
#cell-27 {background-image: url(../images/Tiles/27.png)}
#cell-28 {background-image: url(../images/Tiles/28.png)}
#cell-29 {background-image: url(../images/Tiles/29.png)}
#cell-30 {background-image: url(../images/Tiles/30.png)}
#cell-31 {background-image: url(../images/Tiles/31.png)}
#cell-32 {background-image: url(../images/Tiles/32.png)}
#cell-33 {background-image: url(../images/Tiles/33.png)}
#cell-34 {background-image: url(../images/Tiles/34.png)}
#cell-35 {background-image: url(../images/Tiles/35.png)}
