body {
height: 100vh;
width: 100%;
margin: 0;
padding: 0;
font-family: verdana, sans-serif;
/*overflow: hidden;*/
}
.background {
position: absolute;
height: 100vh;
width: 100%;
top: 0;
background-size: cover;
background-position: top left;
overflow: hidden;
}
#window {
position: relative;
margin: auto;
margin-top: 4%;
width: 114vh;
height: 82vh;
border-radius: 10px;
overflow: hidden;
top: 0;
box-shadow: 2px 5px 3px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
/*background-color: rgba(255,255,255,.6); */
/*background-color: rgba(0,0,0,.5); */
-webkit-backdrop-filter: blur(5px);
backdrop-filter: blur(5px);
}
#bgwindow {
width: 100vw;
height: 100vh;
background-size: cover;
background-position: top left;
background-image: url(https://img2.fonwall.ru/o/pf/backgrounds-glass-textures.jpg);
/* filter: blur(20px); */
opacity: .1;
}
form {
position: absolute;
top: 15px;
opacity: .4;
transition: all .3s;
width: 100%;
z-index: 100;
}
form div {
width: 245px;
height: 30px;
margin: auto;
z-index: 100;
}
form:hover {opacity: .8}
input[type="text"] {
width: 100%;
float: left;
outline:none;
border-radius: 16px;
border: 1px solid #ccc;
padding: 7px;
box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
background-position: center;
}
input[type="submit"]{
height: 31px;
outline:none;
border: none;
width:31px;
margin-left: -32px;
background-image: url(https://img.icons8.com/color/48/000000/google-web-search--v1.png);
background-position: center;
background-size: 26px 26px;
background-repeat: no-repeat;
background-color: transparent;
transition: all .3s;
opacity: .8;
cursor: pointer;
}
input[type="submit"]:hover{
opacity: 1;
}
.main {
position: absolute;
top: 0;
width: 100%;
height: 100%;
overflow: hidden;
margin: 1vh;
}
.cell {
text-align: center;
text-decoration: none;
float: left;
display: block;
background-repeat: no-repeat;
background-position: center center;
width: 13vh;
height: 13vh;
transform: scale(1);
transition: transform .3s, box-shadow .3s ;
transition-duration: .5s;
background-color: rgba(0,2,15,.5);
margin: 1.5vh;
z-index: -1;
border-radius: 7px;
box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}
.cell:hover {
position: relative;
z-index: 99;
transform: scale(1.1);
/* transition-property: transform; */
background-color: rgba(0,2,15,.5);
box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.4), 0px 2px 2px 0px rgba(0,0,0,0.3), 0px 1px 5px 0px rgba(0,0,0,0.25);
}
.noactive:active {transform: scale(1.15)}
.overlay {
opacity: 0;
min-width: 80%;
margin-top: 10px;
display: inline-block;
white-space: nowrap;
background-color: rgba(0, 0, 0, 0.8);
font-size: 12px;
padding: 5px;
color: #fff;
border-radius: 2px;
transition-property: opacity;
transition-duration: .7s;
}
.subMenu{
padding: 0;
margin: 0;
display: block;
position: absolute;
bottom: 85%;
right: 15%;
background-color: rgba(0, 0, 0, 0.8);
opacity: 0;
transform: scaleY(0);
transition: all .3s;
transform-origin: bottom;
transition-delay: .3s;
border-radius: 2px 2px 0 2px;
}
.blockMenu {
border-radius: 2px 2px 0 2px;
position: relative;
overflow: hidden;
}
.subMenu::before, .block::after {
content: '';
position: absolute;
bottom: -10px;
border: 5px solid transparent;
border-top: 5px solid rgba(0, 0, 0, 0.8);
border-right: 5px solid rgba(0, 0, 0, 0.8);
right: 0;
}
.blockMenu::after {
border-top: 10px solid white;
bottom: -19px;
}
.link {
transition: all .3s;
overflow: hidden;
text-align: right;
display: block;
white-space: nowrap;
text-decoration: none;
color: #fff;
font-size: .9em;
padding: 8px;
margin: 0;
clear: both;
}
.link:hover {
padding-right: 12px;
padding-left: 4px;
background-color: rgba(100, 100, 100, 0.7);
}
.cell:hover .overlay {
opacity: 0.9;
}
.cell:hover .subMenu {
opacity: 1;
transform: scaleY(1);
}
.delay2 {transition-delay: 2s}
.delay1 {transition-delay: 1s}
.delay1_5 {transition-delay: 1.5s}
.delay03 {transition-delay: 0.3s}
.sm {background-size: 40%;}
.md {background-size: 50%;}
.bg {background-size: 70%;}
@media (max-width: 115vh) {
#window {width: 98%; height: 71vw}
.cell {width: 11.8vw; height: 11.8vw; margin: 1vw}
}
@media screen and (orientation: portrait){
#window {width: 62vh; height: 86vh;}
.cell {width: 10vh; height: 10vh; margin: 1vh}
}
@media screen and (orientation: portrait) and (max-width: 70vh){
#window {width: 98%; height: 136.8vw}
.cell {width: 15.9vw; height: 15.9vw; margin: 1.5vw}
}
::-webkit-scrollbar {
width: 0;
}